body {
	background-color: red;
}

h1 {
	font-family: georgia, serif;
	font-size:  40px;
	color: black;
	text-align: center;
	border:  1px green;
	background-color:  #D3D3D3;
	height: 55px;
	border-radius:  10px;
}

h2 {
	font-family: georgia, serif;
	font-size:  30px;
	color: white;
	text-align: left;
}

h3 {
	background-color: powderblue;
	font-family: georgia, serif;
}

p {
	font-family: verdana, sans-serif;
	font-size: 12px;
	background-color: yellow;
}

img {
	border:  1px solid green;
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
}

a {
	font-family: verdana, sans-serif;
	font-size: 12px;
	background-color: yellow;
}

dl {
	font-family: verdana, sans-serif;
	font-size: 12px;
	background-color: yellow;
}

dt {
	font-weight: bold;
}